<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        @csrf
        <fieldset style="width: 300px";>
            <legend>Registrat</legend>
        Nom d'usuari: <input type="text" name="username">
        <br>
        Email: <input type="text" name="email">
        <br>
        Contrasenya: <input type="text" name="password">
        <br>
        Repeteix Contrasenya: <input type="text" name="password_confirmation">
        <br>
        <input type="submit" value="Registrarse">
    </fieldset>
    </form>
</body>
</html>